In [135]:
import os
os.chdir('C:/Users/Domen/OneDrive/Projects/berlin-bike-thefts')
print(os.getcwd())

C:\Users\Domen\OneDrive\Projects\berlin-bike-thefts

In [136]:
import json
import pandas as pd

In [137]:
with open("config/config.json", 'r') as f:
    config = json.load(f)
    print(config)
    
data_path = config["data_input"]
save_path = config["data_output"]

{'data_input': 'data/input', 'data_output': 'data/output'}

In [138]:
with open("config/secret.json", 'r') as b:
    secret = json.load(b)
    
SQL_secret = secret["PASSWORD"]
table_name_1 = "bike_thefts"
table_name_2 = "berlin_population_2023"

In [139]:
with open(f'{data_path}/Fahrraddiebstahl.csv', 'rb') as f:
    data = pd.read_csv(f, encoding = 'ISO-8859-1')


id_column = range(1, len(data) + 1)
data.insert(0, 'ID', id_column)

display(data.head(10))
display(data.dtypes)
display(data.describe().T)

for column in data.select_dtypes(include=['object']).columns:
    print(
        f"""
        {data[column].value_counts(dropna=False)}
        \n"""
        )

,ID,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND
0,1,13.03.2024,12.03.2024,14,12.03.2024,19,6400842,2925,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
1,2,13.03.2024,12.03.2024,20,12.03.2024,20,2500835,1350,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
2,3,13.03.2024,08.03.2024,18,11.03.2024,6,4501147,880,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
3,4,13.03.2024,12.03.2024,21,13.03.2024,7,2200211,1800,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
4,5,13.03.2024,12.03.2024,20,13.03.2024,7,7501032,485,Nein,Kinderfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
5,6,13.03.2024,12.03.2024,21,13.03.2024,10,11401137,4005,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
6,7,13.03.2024,13.03.2024,10,13.03.2024,14,4300624,1500,Nein,Fahrrad,Fahrraddiebstahl,Einfacher Diebstahl von Fahrrädern
7,8,13.03.2024,12.03.2024,20,12.03.2024,23,2500834,2600,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
8,9,13.03.2024,13.03.2024,19,13.03.2024,19,2100103,0,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
9,10,13.03.2024,09.03.2024,21,10.03.2024,12,1100312,1099,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern

ID                        int64
ANGELEGT_AM              object
TATZEIT_ANFANG_DATUM     object
TATZEIT_ANFANG_STUNDE     int64
TATZEIT_ENDE_DATUM       object
TATZEIT_ENDE_STUNDE       int64
LOR                       int64
SCHADENSHOEHE             int64
VERSUCH                  object
ART_DES_FAHRRADS         object
DELIKT                   object
ERFASSUNGSGRUND          object
dtype: object

,count,mean,std,min,25%,50%,75%,max
ID,24881.0,1.244100e+04,7.182670e+03,1.0,6221.0,12441.0,18661.0,24881.0
TATZEIT_ANFANG_STUNDE,24881.0,1.458531e+01,5.341592e+00,0.0,10.0,16.0,19.0,23.0
TATZEIT_ENDE_STUNDE,24881.0,1.346473e+01,5.403588e+00,0.0,9.0,14.0,18.0,23.0
LOR,24881.0,5.540440e+06,3.410657e+06,1100101.0,2400623.0,4501044.0,8100314.0,12601236.0
SCHADENSHOEHE,24881.0,1.166277e+03,1.147791e+03,0.0,480.0,800.0,1400.0,10000.0

        ANGELEGT_AM
25.09.2023    121
13.06.2023    116
18.09.2023    110
12.06.2023    110
20.09.2023    109
             ...
02.01.2024     15
31.12.2023     14
01.01.2024     13
24.12.2023     12
01.01.2023      3
Name: count, Length: 438, dtype: int64



        TATZEIT_ANFANG_DATUM
15.09.2023    121
04.07.2023    105
15.06.2023    105
14.09.2023    104
24.08.2023    101
             ...
07.01.2024     16
24.12.2023     16
23.12.2023     15
13.03.2024     14
01.01.2024     12
Name: count, Length: 438, dtype: int64



        TATZEIT_ENDE_DATUM
25.09.2023    119
22.05.2023    108
15.09.2023    105
16.06.2023    104
28.08.2023    104
             ...
31.12.2023     14
07.01.2024     14
24.12.2023     12
23.12.2023     12
01.01.2023      9
Name: count, Length: 438, dtype: int64



        VERSUCH
Nein         24767
Ja             108
Unbekannt        6
Name: count, dtype: int64



        ART_DES_FAHRRADS
Herrenfahrrad        11340
Damenfahrrad          6458
Fahrrad               3790
Kinderfahrrad         1026
Mountainbike          1010
diverse Fahrräder      703
Rennrad                449
Lastenfahrrad          105
Name: count, dtype: int64



        DELIKT
Fahrraddiebstahl             23376
Keller- und Bodeneinbruch     1505
Name: count, dtype: int64



        ERFASSUNGSGRUND
Sonstiger schwerer Diebstahl von Fahrrädern                        22093
Sonstiger schwerer Diebstahl in/aus Keller/Boden von Fahrrädern     1505
Einfacher Diebstahl von Fahrrädern                                  1225
Einfacher Diebstahl aus Keller/Boden von Fahrrädern                   58
Name: count, dtype: int64

In [140]:
def adjust_codes(df, column_name):
    df[column_name] = df[column_name].astype(str)
    df[column_name] = df[column_name].apply(lambda x: '0' + x if len(x) % 2 != 0 else x)
    df["BZR"] = df[column_name].str[:6]
    df["PGR"] = df[column_name].str[:4]
    df["BEZ"] = df[column_name].str[:2]

adjust_codes(data, 'LOR')

In [141]:
import geopandas as gpd

PLR_gdf = gpd.read_file(f'{data_path}/lor_planungsraeume_2021.geojson') # import Planungsräume (PLR) geo data
BZR_gdf = gpd.read_file(f'{data_path}/lor_bezirksregionen_2021.geojson') # import Bezirksregionen (BZR) geo data
PGR_gdf = gpd.read_file(f'{data_path}/lor_prognoseraeume_2021.geojson') # import Prognoseräume (PGR) geo data

In [142]:
PLR_gdf_subset = PLR_gdf[['PLR_ID', 'PLR_NAME']]
BZR_gdf_subset = BZR_gdf[['BZR_ID', 'BZR_NAME']] 
PGR_gdf_subset = PGR_gdf[['PGR_ID', 'PGR_NAME']] 

data

,ID,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND,BZR,PGR,BEZ
0,1,13.03.2024,12.03.2024,14,12.03.2024,19,06400842,2925,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,064008,0640,06
1,2,13.03.2024,12.03.2024,20,12.03.2024,20,02500835,1350,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,025008,0250,02
2,3,13.03.2024,08.03.2024,18,11.03.2024,6,04501147,880,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,045011,0450,04
3,4,13.03.2024,12.03.2024,21,13.03.2024,7,02200211,1800,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,022002,0220,02
4,5,13.03.2024,12.03.2024,20,13.03.2024,7,07501032,485,Nein,Kinderfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,075010,0750,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24876,24877,02.01.2023,02.01.2023,12,02.01.2023,13,03400620,400,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,034006,0340,03
24877,24878,02.01.2023,01.01.2023,18,02.01.2023,10,02400624,825,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,024006,0240,02
24878,24879,01.01.2023,01.01.2023,12,01.01.2023,18,06300526,695,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,063005,0630,06
24879,24880,01.01.2023,01.01.2023,6,01.01.2023,12,04300621,400,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,043006,0430,04
24880,24881,01.01.2023,01.01.2023,5,01.01.2023,9,04300413,1400,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,043004,0430,04

In [143]:
data = pd.merge(data, PLR_gdf_subset, left_on='LOR', right_on='PLR_ID', how='left')
data = pd.merge(data, BZR_gdf_subset, left_on='BZR', right_on='BZR_ID', how='left')
data = pd.merge(data, PGR_gdf_subset, left_on='PGR', right_on='PGR_ID', how='left')

In [144]:
data.columns

Index(['ID', 'ANGELEGT_AM', 'TATZEIT_ANFANG_DATUM', 'TATZEIT_ANFANG_STUNDE',
       'TATZEIT_ENDE_DATUM', 'TATZEIT_ENDE_STUNDE', 'LOR', 'SCHADENSHOEHE',
       'VERSUCH', 'ART_DES_FAHRRADS', 'DELIKT', 'ERFASSUNGSGRUND', 'BZR',
       'PGR', 'BEZ', 'PLR_ID', 'PLR_NAME', 'BZR_ID', 'BZR_NAME', 'PGR_ID',
       'PGR_NAME'],
      dtype='object')

In [145]:
data = data.drop(columns=['PLR_ID', 'BZR_ID', 'PGR_ID'])

In [146]:
def assign_district(row):
    districts = {
        '01': "Mitte",
        '02': "Friedrichshain-Kreuzberg",
        '03': "Pankow",
        '04': "Charlottenburg-Wilmersdorf",
        '05': "Spandau",
        '06': "Steglitz-Zehlendorf",
        '07': "Tempelhof-Schöneberg",
        '08': "Neukölln",
        '09': "Treptow-Köpenick",
        '10': "Marzahn-Hellersdorf",
        '11': "Lichtenberg",
        '12': "Reinickendorf"
    }
    return districts.get(row['BEZ'], 'Unknown')

data['Bezirk'] = data.apply(assign_district, axis=1)

In [147]:
data.columns

Index(['ID', 'ANGELEGT_AM', 'TATZEIT_ANFANG_DATUM', 'TATZEIT_ANFANG_STUNDE',
       'TATZEIT_ENDE_DATUM', 'TATZEIT_ENDE_STUNDE', 'LOR', 'SCHADENSHOEHE',
       'VERSUCH', 'ART_DES_FAHRRADS', 'DELIKT', 'ERFASSUNGSGRUND', 'BZR',
       'PGR', 'BEZ', 'PLR_NAME', 'BZR_NAME', 'PGR_NAME', 'Bezirk'],
      dtype='object')

In [148]:
data

,ID,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND,BZR,PGR,BEZ,PLR_NAME,BZR_NAME,PGR_NAME,Bezirk
0,1,13.03.2024,12.03.2024,14,12.03.2024,19,06400842,2925,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,064008,0640,06,Hüttenweg,Zehlendorf Nord,Zehlendorf Nord/Wannsee,Steglitz-Zehlendorf
1,2,13.03.2024,12.03.2024,20,12.03.2024,20,02500835,1350,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,025008,0250,02,Stralauer Kiez,Frankfurter Allee Süd FK,Friedrichshain Ost,Friedrichshain-Kreuzberg
2,3,13.03.2024,08.03.2024,18,11.03.2024,6,04501147,880,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,045011,0450,04,Leon-Jessel-Platz,Volkspark Wilmersdorf,Wilmersdorf Zentrum,Charlottenburg-Wilmersdorf
3,4,13.03.2024,12.03.2024,21,13.03.2024,7,02200211,1800,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,022002,0220,02,Chamissokiez,Tempelhofer Vorstadt,Kreuzberg Süd,Friedrichshain-Kreuzberg
4,5,13.03.2024,12.03.2024,20,13.03.2024,7,07501032,485,Nein,Kinderfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,075010,0750,07,Imbrosweg,Mariendorf Nord,Mariendorf,Tempelhof-Schöneberg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24876,24877,02.01.2023,02.01.2023,12,02.01.2023,13,03400620,400,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,034006,0340,03,Schönholz,Schönholz/Wilhelmsruh/Rosenthal,Südliches Pankow,Pankow
24877,24878,02.01.2023,01.01.2023,18,02.01.2023,10,02400624,825,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,024006,0240,02,Weberwiese,Karl-Marx-Allee Süd,Friedrichshain West,Friedrichshain-Kreuzberg
24878,24879,01.01.2023,01.01.2023,12,01.01.2023,18,06300526,695,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,063005,0630,06,Zehlendorf Mitte,Teltower Damm,Zehlendorf Süd/Lichterfelde West,Steglitz-Zehlendorf
24879,24880,01.01.2023,01.01.2023,6,01.01.2023,12,04300621,400,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,043006,0430,04,Richard-Wagner-Straße,Otto-Suhr-Allee/Kantstraße,Charlottenburg Zentrum,Charlottenburg-Wilmersdorf
24880,24881,01.01.2023,01.01.2023,5,01.01.2023,9,04300413,1400,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern,043004,0430,04,Klausenerplatz,Schloss Charlottenburg,Charlottenburg Zentrum,Charlottenburg-Wilmersdorf

In [149]:
with open(f'{save_path}/Fahrraddiebstahl_cleaned.csv', "wb") as f:
    data.to_csv(f, index=False)

In [150]:
os.chdir('C:/Users/Domen/OneDrive/Projects/berlin-bike-thefts')

with open(f'{data_path}/SB_A01-16-00_2023h02_BE.xlsx', "rb") as f:
    raw_data = pd.read_excel(f, 'T2', header=None)

In [151]:
import pandas as pd
from datetime import datetime

data['ANGELEGT_AM'] = data['ANGELEGT_AM'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%Y-%m-%d'))
data['TATZEIT_ANFANG_DATUM'] = data['TATZEIT_ANFANG_DATUM'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%Y-%m-%d'))
data['TATZEIT_ENDE_DATUM'] = data['TATZEIT_ENDE_DATUM'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%Y-%m-%d'))

In [152]:
def transform_number_under_10(x):
    if x < 10:
        x = '0' + str(x)
        return x
    else:
        x = str(x)
        return x

In [153]:
column_names = [i for i in range(0, 15)]

population_df = pd.DataFrame(columns=column_names)
display(population_df)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Index: []

In [154]:
 # checked with excel the dataset before -> after dropping rows with Nan values the needed information are extracted 
final_rows = raw_data.dropna().index.tolist()
pop_data = raw_data.iloc[final_rows]


# Add 2 columns year and half_year
pop_data.insert(0, 'year', "2023")
pop_data.insert(1, 'half_year', "02")

# counter = counter + len(pop_data)
    
population_df = pd.concat([population_df, pop_data], ignore_index=True , axis=0)

# Convert columns to integer 
columns_to_transform = population_df.columns[0:17]
population_df[columns_to_transform] = population_df[columns_to_transform].astype(int)
# print(population_df.dtypes)

# Transform format for LOR values - (1 -> 01, 2 -> 02 ...)
for col in [0,1,2,3]:
    population_df[col] = population_df[col].apply(lambda x: transform_number_under_10(x))



# drop woman and asyl data columns 
# transform 0-3 to LOR Code
# Rearrange table columns    
population_df['lor'] = population_df[0] + population_df[1] + population_df[2] + population_df[3]
population_df['key'] = population_df['lor'] + '-' + population_df['year'].astype(str) + '-' +  population_df['half_year'].astype(str)

# Drop unnecessary columns 
population_df = population_df.drop(columns = [0, 1, 2, 3, 13, 14])

# Reorder and rename columns 
population_df = population_df.reindex(['key', 'year', 'half_year', 'lor', 4, 5, 6, 7, 8, 9, 10, 11, 12], axis = 1)
population_df.columns = ['key', 'year', 'half_year', 'lor', 'total_population', '-6years', '6-15years', '15-18years', '18-27years', '27-45years', '45-55years', '55-65years', '65+years']

C:\Users\Domen\AppData\Local\Temp\ipykernel_24068\649314630.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  population_df = pd.concat([population_df, pop_data], ignore_index=True , axis=0)

In [155]:
population_df

,key,year,half_year,lor,total_population,-6years,6-15years,15-18years,18-27years,27-45years,45-55years,55-65years,65+years
0,01100101-2023-2,2023,2,01100101,3680,140,225,31,476,1316,396,399,697
1,01100102-2023-2,2023,2,01100102,2040,93,125,34,190,804,254,273,267
2,01100103-2023-2,2023,2,01100103,5720,299,331,102,682,1892,629,710,1075
3,01100104-2023-2,2023,2,01100104,4997,257,385,128,744,1872,610,567,434
4,01100205-2023-2,2023,2,01100205,2960,120,159,60,386,1111,343,336,445
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,12601032-2023-2,2023,2,12601032,6115,493,814,266,698,1477,692,653,1022
538,12601133-2023-2,2023,2,12601133,11441,742,1405,472,1283,2762,1389,1272,2116
539,12601134-2023-2,2023,2,12601134,15947,1174,1854,577,1792,3601,1771,1848,3330
540,12601235-2023-2,2023,2,12601235,10625,758,1412,468,1300,2503,1240,1210,1734
541,12601236-2023-2,2023,2,12601236,3154,128,243,100,335,650,346,475,877

In [156]:
with open(f'{save_path}/population_2023.csv', "wb") as f:
    population_df.to_csv(f, index=False, )

In [157]:
import pymysql 
from sqlalchemy import create_engine
from sqlalchemy import Integer, DateTime, Text

In [158]:
with open("config/secret.json", 'r') as f:
    secret = json.load(f)
    
SQL_secret = secret["PASSWORD"]
table_name_1 = "bike_thefts"
table_name_2 = "berlin_population_2023"

In [159]:
connection_string = 'mysql+pymysql://root:'+SQL_secret+'@localhost/berlin_accident'
engine = create_engine(connection_string)

In [160]:
population_df.to_sql(table_name_2, con=engine, if_exists='replace', index=False)
data.to_sql(table_name_1, con=engine, if_exists='replace', index=False,
    dtype={"ID": Integer, "ANGELEGT_AM": DateTime, "TATZEIT_ANFANG_DATUM": DateTime, "TATZEIT_ANFANG_STUNDE": Integer, "TATZEIT_ENDE_DATUM": DateTime, "TATZEIT_ENDE_STUNDE" : Integer, "LOR" : Text, "SCHADENSHOEHE" : Integer, "VERSUCH" : Text, "ART_DES_FAHRRADS" : Text, "DELIKT" : Text, "ERFASSUNGSGRUND" : Text, "BZR" : Text, "PGR" : Text, "BEZ" : Text, 'PLR_NAME' : Text, 'BZR_NAME' : Text, 'PGR_NAME' : Text, 'Bezirk' : Text })

24881